* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: #13183f;
  --desc: #83869a;
  --btn: #f74780;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Jakarta Sans";
  font-weight: 800;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

/* ? HEADER STYLE STARTED */

.header-section {
  padding-top: 24px;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: 991.63px 936.92px;
  background-position: calc(50% + 515px) calc(50% - 96px);
}

.header-section__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 172px;
}

.header-section__logo {
  width: 111.17px;
  height: 27.68px;
}

.header-nav__btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  background-color: var(--title);
  padding: 14px 31.5px;
  border-radius: 28px;
}

.header-nav__btn:hover {
  background-color: #666ca3;
  transition: all 0.2s ease-in-out;
}

.header-section__hero {
  padding-bottom: 226px;
}

.hero-section__title {
  width: 100%;
  max-width: 457px;
  font-size: 56px;
  color: var(--title);
  line-height: 70.56px;
  margin-bottom: 29px;
}

.hero-section__desc {
  width: 100%;
  max-width: 445px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--desc);
  margin-bottom: 40px;
}

.hero-section__btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 28px;
  padding: 17.5px 31.5px;
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  border-radius: 31.5px;
}

.hero-section__btn:hover {
  opacity: 50%;
  transition: all 0.1s;
}

.hero-section__img {
  display: none;
}

/* !TABLET VERSION STARTED */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 729px;
  }

  .header-section {
    background-image: url(../img/hero-tablet.png);
    background-size: 640.71px 640px;
    background-position: calc(50% + 330px) calc(50% - 88px);
  }

  .header-section__nav {
    margin-bottom: 99px;
  }

  .header-section__logo {
    width: 89px;
    height: 35px;
  }

  .header-nav__btn {
    font-size: 16px;
    padding: 10px 24px;
  }

  .hero-section__title {
    width: 100%;
    max-width: 326px;
    font-size: 40px;
    line-height: 50.4px;
    margin-bottom: 25px;
  }

  .hero-section__desc {
    width: 100%;
    max-width: 398px;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 26px;
  }

  .hero-section__btn {
    font-size: 16px;
    padding: 15px 37.5px;
  }
}

/* !TABLET VERSION FINISHED */

/** MOBILE VERSION STARTED */
@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    max-width: 363px;
    padding: 0 10px;
  }

  .header-section {
    padding-top: 16px;
    background-image: none;
  }

  .hero-section__desc {
    width: 100%;
    max-width: 343px;
  }

  .hero-section__btn {
    margin-bottom: 46px;
  }

  .hero-section__img {
    display: block;
    width: 327px;
    height: 301px;
  }
}
/** MOBILE VERSION FINISHED */
/* ? HEADER STYLE FINISHED */

/* ? COURSE SECTION STARTED */

.course-section {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

.course-section__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 24px;
}

.course-section__box {
  position: relative;
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  padding: 64px 32px 40px;
  background-color: #fff;
  margin-bottom: 80px;
}

.course-block__title {
  width: 100%;
  max-width: 286px;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
}

.block-title {
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
}

.course-box__title {
  font-size: 24px;
  line-height: 30.24px;
  color: var(--title);
  margin-bottom: 24px;
}

.animation h3:before {
  content: "";
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  background-image: url(../img/animation-icon.svg);
  margin-top: -24px;
}

.design h3:before {
  content: "";
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  background-image: url(../img/design-icon.svg);
  margin-top: -24px;
}

.photo h3:before {
  content: "";
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  background-image: url(../img/photo-icon.svg);
  margin-top: -24px;
}

.crypto h3:before {
  content: "";
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  background-image: url(../img/crypto-icon.svg);
  margin-top: -24px;
}

.business h3:before {
  content: "";
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  background-image: url(../img/business-icon.svg);
  margin-top: -24px;
}

.course-box__desc {
  width: 100%;
  max-width: 286px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--desc);
}

.animation p {
  margin-bottom: 24px;
}

.design p {
  margin-bottom: 52px;
}

.photo p {
  margin-bottom: 52px;
}

.crypto p {
  margin-bottom: 24px;
}

.business p {
  margin-bottom: 24px;
}

.course-box__btn {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: var(--btn);
}

/* ? COURSE SECTION FINISHED */
